{{- $email := promptStringOnce . "email" "Git email address" "remi.girard@protonmail.com" -}}
{{- $name := promptStringOnce . "name" "Git name" "RemiGirard" -}}
{{- $signingkey := promptStringOnce . "signingkey" "SSH signing key path (leave empty to skip)" "" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    signingkey = {{ $signingkey | quote }}
