font-family = JetBrainsMono Nerd Font
font-size = 14
font-thicken = true
adjust-cell-height = 20%

theme = Catppuccin Mocha
background-opacity = 0.95
background-blur-radius = 20
minimum-contrast = 1.1

window-padding-x = 8
window-padding-y = 4
window-decoration = auto
window-theme = ghostty
{{ if eq .chezmoi.os "darwin" -}}
macos-titlebar-style = hidden
{{ end -}}
maximize = true
confirm-close-surface = false
quit-after-last-window-closed = true

cursor-style = bar
cursor-style-blink = true
mouse-hide-while-typing = true

copy-on-select = clipboard
clipboard-paste-protection = false

{{ if eq .chezmoi.os "darwin" -}}
command = /opt/homebrew/bin/tmux new-session
{{ else -}}
command = /usr/bin/tmux new-session
{{ end -}}
shell-integration = zsh
shell-integration-features = cursor,sudo,title

keybind = super+t=new_tab
keybind = super+w=close_surface
keybind = super+shift+left_bracket=previous_tab
keybind = super+shift+right_bracket=next_tab
keybind = super+equal=increase_font_size:1
keybind = super+minus=decrease_font_size:1
keybind = super+zero=reset_font_size
